<% layout("layouts/boilerplate") %>

<div class="col-8 offset-2">
    <br>
    <h2>Edit your listing</h2>
    <br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"  enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please enter a title!</div>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required> <%= listing.description %> </textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="title" class="form-label">Image URL</label>-->
<!--            <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required/>-->
<!--            <div class="invalid-feedback">Please enter a valid Image URL</div>-->
<!--        </div>-->


        <div class="mb-3" style="width: 100%; padding: 10px;">
            Original Image
            <img src="<%= originalImageUrl %>" alt="Listing Image" style="height: 200px; width: auto; display: block;">
        </div>


        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]" type="file" class="form-control" />
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
            <div class="invalid-feedback">Location should be valid</div>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]"  class="form-select" required>
                <option value="<%= listing.category %>" >Select a category</option>
                <option value="Trending" <%= listing.category === 'Trending' ? 'selected' : '' %>>Trending</option>
                <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
                <option value="Iconic Cities" <%= listing.category === 'Iconic Cities' ? 'selected' : '' %>>Iconic Cities</option>
                <option value="Mountains" <%= listing.category === 'Mountains' ? 'selected' : '' %>>Mountains</option>
                <option value="Castles" <%= listing.category === 'Castles' ? 'selected' : '' %>>Castles</option>
                <option value="Amazing Pools" <%= listing.category === 'Amazing Pools' ? 'selected' : '' %>>Amazing Pools</option>
                <option value="Free Wi-Fi" <%= listing.category === 'Free Wi-Fi' ? 'selected' : '' %>>Free Wi-Fi</option>
                <option value="Restaurants" <%= listing.category === 'Restaurants' ? 'selected' : '' %>>Restaurants</option>
                <option value="Romantic Getaways" <%= listing.category === 'Romantic Getaways' ? 'selected' : '' %>>Romantic Getaways</option>
                <option value="Pet-Friendly" <%= listing.category === 'Pet-Friendly' ? 'selected' : '' %>>Pet-Friendly</option>
            </select>
            <div class="invalid-feedback">Please select a category</div>
        </div>

        <button class="btn btn-outline-primary mr-3 px-4">Edit</button>
    </form>
</div>